global:
  uiDns: ui.risk.dev.dbgcloud.io
  apiDns: api.risk.dev.dbgcloud.io
  useInternalLoadBalancer: true
  internalLoadBalancerIp: 0.0.0.0/0
  authDns: auth.dave.dbg-devops.com
  authClientId: dave-ui
  authWellKnownEndpoint: /auth/realms/DAVe/.well-known/openid-configuration
  caCertB64Enc: {{ lookup('file', ca_public_key) | b64encode }}
 
dave-ui:
  release: master
  minReplicas: 2
  maxReplicas: 3
  authFlow: openid-connect/direct
  authScopes: "['profile']"
  uiKeyB64Enc: {{ lookup('file', uiKeyPath) | b64encode }}
  uiCertB64Enc: {{ lookup('file', uiCertPath) | b64encode }}

dave-store-manager:
  release: master
  minReplicas: 2
  maxReplicas: 3
  apiKeyB64Enc: {{ lookup('file', store_manager_ssl_key) | b64encode }}
  apiCertB64Enc: {{ lookup('file', store_manager_ssl_cert) | b64encode }}
  databaseConnectionUrl: "mongodb://dave-mongo-0.dave-mongo:27017,dave-mongo-1.dave-mongo:27017,dave-mongo-2.dave-mongo:27017/?replicaSet=rs0"
  databaseName: DAVe

dave-margin-loader:
  release: master
  minReplicas: 2
  maxReplicas: 3
  sslKeyB64Enc: {{ lookup('file', margin_loader_ssl_key) | b64encode }}
  sslCertB64Enc: {{ lookup('file', margin_loader_ssl_cert) | b64encode }}
  cilHostname: "prmbgc02.xeop.de"
  cilPort: "22201"
  cilUsername: "DAVE"
  cilPassword: "DAVE"

dave-api:
  release: master
  minReplicas: 2
  maxReplicas: 3
  apiKeyB64Enc: {{ lookup('file', apiKeyPath_pkcs8) | b64encode }}
  apiCertB64Enc: {{ lookup('file', apiCertPath) | b64encode }}
  sslKeyB64Enc: {{ lookup('file', api_ssl_key) | b64encode }}
  sslCertB64Enc: {{ lookup('file', api_ssl_cert) | b64encode }}

