apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: dave-ui
  namespace: {{ namespace }}
spec:
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: dave-ui
  minReplicas: {{ ui_min_replicas }}
  maxReplicas: {{ ui_max_replicas }}
  targetCPUUtilizationPercentage: 75
