apiVersion: v1
kind: ConfigMap
metadata:
  name: dave-ui
  namespace: {{ namespace }}
  labels:
    app: dave
    layer: frontend
    project: dave
data:
  dave.api: "https://{{ api_dns }}"
  dave.auth_well_known: "https://{{ auth_dns }}{{ auth_well_know_endpoint }}"
  dave.auth_client_id: "{{ auth_client_id }}"
  dave.auth_flow: "{{ auth_flow }}"
  dave.auth_scopes: "{{ auth_scopes }}"
  http.compression: "1"
