apiVersion: v1
kind: Service
metadata:
  labels:
    app: dave
    layer: frontend
    project: dave
  annotations:
    external-dns.alpha.kubernetes.io/hostname: {{ ui_dns }}.
{% if use_internal_load_balancer %}
    service.beta.kubernetes.io/aws-load-balancer-internal: '{{ internal_load_balancer_ip }}'
{% endif %}
  name: dave-ui
  namespace: {{ namespace }}
spec:
  ports:
    - name: https
      port: 443
      targetPort: 443
    - name: http
      port: 80
      targetPort: 80
  selector:
    name: dave-ui
  type: LoadBalancer
