apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: dave-api
  namespace: {{ namespace }}
spec:
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: dave-api
  minReplicas: {{ api_min_replicas }}
  maxReplicas: {{ api_max_replicas }}
  targetCPUUtilizationPercentage: 75
