---

helmConfig: ../helm-values.yaml

# External SSL certificates
apiKeyPath: ../certs_external/api.master.key
apiCertPath: ../certs_external/api.master.crt
uiKeyPath: ../certs_external/ui.master.key
uiCertPath: ../certs_external/ui.master.crt

# Internal SSL certificates
certsInternal: ../certs_internal/
